<div style="width: 65%;">
  <header style="width: 100%; background: rgb(35, 12, 64);color: white; padding: 1rem; border-radius: 8px;">
    <h1
      style="font-size: 2.5rem; font-family: width: 100%; 'Uncial Antiqua', text-align: center; cursive; font-weight: 100;">
      MagiScrita!</h1>
    <p style="font-size: 1rem; font-family: 'Cinzel', serif; text-align:center; color: #9C9C9C; font-weight: 800;">Dando
      origem aos seus
      sonhos</p>
  </header>

  <div
    style="width: 100%; height: auto; margin-top: 2rem; padding: 1.75rem; background: #1b1b1e; color: white; border-radius: 8px;">
    <header style="margin-bottom: 3rem;">
      <span style="font-size: 1.2rem; font-family: 'Cinzel Decorative', serif;">Olá, sonhador! Está perdido hein,
        {{name}}?</span>
      <span style="font-size: .8rem; font-family: 'Cinzel', serif;color: #9C9C9C;">Não se preocupe. Estamos aqui para
        te ajudar a encontrar o caminho.</span>
    </header>

    <div style="padding-bottom: 32px">
      <div style="margin-bottom: 4rem;">

        <span style="font-size: 1.3rem;font-family: 'Markazi Text', serif;">
          Você solicitou a recuperação de senha da sua conta, não foi?
        </span>

        <span style="font-size: .7rem; font-family: 'Cinzel', serif; color: #9C9C9C; ">
          Caso não tenha sido você, basta ignorar essa carta (e-mail) e prosseguir com a sua jornada.
        </span>

      </div>

      <div style="display: grid; grid-template-columns: 1fr; gap: 12px;">
        <span style="font-family: 'Markazi Text', serif; text-align: center;">
          Para alterar a sua senha, basta clicar no botão abaixo e você será direcionado para um lugar onde possa
          colocar a nova senha.
          <br />
          Lembre-se, estamos sempre aqui quando precisar.
        </span>

        <a href="{{link}}"
          style="all: unset; background: #300D79;padding: 1rem 4rem;border-radius: 8px;cursor: pointer; text-decoration: none;"
          target="_blank" rel="noopener noreferrer">Recuperar senha</a>

      </div>
    </div>
  </div>

</div>